# --- Web & Async ---
fastapi
uvicorn
celery
pydantic
pyjwt
python-multipart
requests

# --- Machine Learning & Math ---
torch
torchvision
lightgbm
scikit-learn
numpy
joblib
Pillow

# --- Geospatial ---
earthengine-api
geemap

geoalchemy2
SQLAlchemy
psycopg2-binary
alembic
PyJWT
bcrypt
shapely
redis
websockets
aiohttp
python-jose[cryptography]
prometheus-fastapi-instrumentator